name: Deploy Angular to GitHub Pages

on:
  push:
    branches:
      - "release" # Change to the branch you wish to deploy from

permissions:
  contents: read
  pages: write
  id-token: write
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Create environment file
        env:
          FIREBASE_API_KEY: ${{ secrets.FIREBASE_API_KEY }}
          FIREBASE_APP_ID: ${{ secrets.FIREBASE_APP_ID }}
          FIREBASE_SENDER_ID: ${{ secrets.FIREBASE_SENDER_ID }}
          FIREBASE_MEASUREMENT_ID: ${{ secrets.FIREBASE_MEASUREMENT_ID }}
          ADSENSE_CLIENT_ID: ${{ secrets.ADSENSE_CLIENT_ID }}
        run: |
          mkdir -p src/environments
          printf "export const environment = {\n  production: true,\n  firebase: {\n    apiKey: '%s',\n    authDomain: 'tamil-kavithai-28d8b.firebaseapp.com',\n    databaseURL: 'https://tamil-kavithai-28d8b.firebaseio.com',\n    projectId: 'tamil-kavithai-28d8b',\n    storageBucket: 'tamil-kavithai-28d8b.firebasestorage.app',\n    messagingSenderId: '%s',\n    appId: '%s',\n    measurementId: '%s'\n  },\n  adClient: '%s'\n};\n" \
          "$FIREBASE_API_KEY" "$FIREBASE_SENDER_ID" "$FIREBASE_APP_ID" "$FIREBASE_MEASUREMENT_ID" "$ADSENSE_CLIENT_ID" > src/environments/environment.prod.ts
          
          echo "Verifying file creation..."
          ls -l src/environments/environment.prod.ts
          echo "File exists if above line succeeded."

      - name: Build
        run: npm run build -- --configuration=production --base-href=/

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: dist/website/browser

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4