name: Deploy Angular to GitHub Pages

on:
  push:
    branches:
      - "release" # Change to the branch you wish to deploy from

permissions:
  contents: read
  pages: write
  id-token: write
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm install

      - name: Create environment file
        run: |
          mkdir -p src/environments
          cat > src/environments/environment.prod.ts << EOF
          export const environment = {
            production: true,
            firebase: {
              apiKey: "${{ secrets.FIREBASE_API_KEY }}",
              authDomain: "tamil-kavithai-28d8b.firebaseapp.com",
              databaseURL: "https://tamil-kavithai-28d8b.firebaseio.com",
              projectId: "tamil-kavithai-28d8b",
              storageBucket: "tamil-kavithai-28d8b.firebasestorage.app",
              messagingSenderId: "875279888573",
              appId: "${{ secrets.FIREBASE_APP_ID }}",
              measurementId: "G-YLGDMVXPSR"
            }
          };
          EOF

      - id: build-publish
        uses: bitovi/github-actions-angular-to-github-pages@v1.0.0
        with:
          path: dist/website/browser
          build_command: npm run build -- --configuration=production --base-href=/website/